<<<<<<< HEAD
@media screen and (max-width:1920px){
    main .main_section .title .tab_contents > div video {
        height: auto;
        width: auto;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:1440px){
    aside {right: 30px;}
}
@media screen and (max-width:1360px){
    main .main_section .title {padding: 0 70px;}
    main .main_section .title h1 {
        left: 70px;
        bottom: 231px;
    }
    main .main_section .title .tab_contents > div > div {
        left: 70px;
        bottom: 70px;
    }
    main .main_section .title .tab_contents > div > div .sub_title {font-size: 1.333rem;}
    main .main_section .title .tab_contents > div > div .name {
        font-size: 3.157rem;
        margin: 10px 0;
    }
    main .main_section .title .tab_contents > div > div .desc {font-size: 1rem;}
    main .main_section .swiper_container #main_slide .swiper-wrapper {height: 340px;}
    main .main_section .swiper_container #main_slide .swiper-wrapper .swiper-slide {
        width: 130px !important; height: 130px !important;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:1280px){
    main .c_section .contents {
        justify-content: center;
        width: 694px;
    }
    main .c_section .contents > div {
        width: 220px; height: 220px;
    }
    main .c_section .contents > div .name {
        font-size: 1rem;
        line-height: 22px;
    }
    main .c_section .contents > div .genre span,
    main .c_section .contents > div .desc {
        font-size: 0.75rem;
        line-height: 18px;
    }
    main .c_section .contents > div .desc {height: 72px;}
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 15px 15px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 0;}
    main .c_section .contents > div:nth-child(4n) {margin-right: 15px;}
}
@media screen and (max-width:1060px){
    main .main_section .title .tab_contents > div > div .desc {width: 320px;}
}
@media screen and (max-width:834px){
    main .main_section .title h1 {
        left: 30px;
        bottom: 265px;
        font-size: 2.369rem;
    }
    main .main_section .title .tab_contents > div > div {
        background: rgba(0,0,0,0.7) center;
        background-size: cover;
        height: 250px;
        width: 100vw;
        padding: 20px 30px;
        left: 0;
        bottom: 0;
    }
    main .main_section .title .tab_contents > div::after {display: none;}
    main .main_section .title .tab_contents > div > div .sub_title {font-size: 1rem;}
    main .main_section .title .tab_contents > div > div .name {
        font-size: 1.777rem;
        margin: 10px 0 0;
    }
    main .main_section .title .tab_contents > div > div .desc {display: none;}
    main .main_section .swiper_container {
        bottom: 20px; right: 0; left: 50%; transform: translateX(-50%);
        width: 100%;
    }
    main .main_section .swiper_container #main_slide {
        width: calc(100% - 60px);
    }
    main .main_section .swiper_container #main_slide .swiper-wrapper {
        flex-flow: row nowrap;
        height: 130px;
        width: 100%;
    }
    main .main_section .swiper_container #main_slide .swiper-wrapper .swiper-slide {
        margin: 0 7px 0 0;
    }
    main .c_section .contents {
        justify-content: center;
        width: 470px;
    }
    main .c_section .contents > div {
        width: 150px; height: 150px;
        padding: 15px;
    }
    main .c_section .contents > div .name {
        font-size: 1rem;
        line-height: 23px;
    }
    main .c_section .contents > div:hover .genre,
    main .c_section .contents > div .genre {display: none;}
    main .c_section .contents > div .desc {
        line-height: 18px;
        height: 54px;
        -webkit-line-clamp:3;
    }
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 10px 10px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 0;}
    main .c_section .contents > div:nth-child(4n) {margin-right: 10px;}
}
@media screen and (max-width:600px){
    aside {display: none;}
    header {padding: 10px 30px;}
    header h1 {
        width: 70px; height: 39.97px;
    }
    header .lnb .lang {display: none;}
    main .c_section .contents {
        justify-content: center;
        width: 310px;
    }
    main .c_section .contents > div {
        width: 150px; height: 150px;
    }
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 10px 10px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 10px;}
    main .c_section .contents > div:nth-child(2n) {margin-right: 0;}
=======
@media screen and (max-width:1920px){
    main .main_section .title .tab_contents > div video {
        height: auto;
        width: auto;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:1440px){
    aside {right: 30px;}
}
@media screen and (max-width:1360px){
    main .main_section .title {padding: 0 70px;}
    main .main_section .title h1 {
        left: 70px;
        bottom: 231px;
    }
    main .main_section .title .tab_contents > div > div {
        left: 70px;
        bottom: 70px;
    }
    main .main_section .title .tab_contents > div > div .sub_title {font-size: 1.333rem;}
    main .main_section .title .tab_contents > div > div .name {
        font-size: 3.157rem;
        margin: 10px 0;
    }
    main .main_section .title .tab_contents > div > div .desc {font-size: 1rem;}
    main .main_section .swiper_container #main_slide .swiper-wrapper {height: 340px;}
    main .main_section .swiper_container #main_slide .swiper-wrapper .swiper-slide {
        width: 130px !important; height: 130px !important;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:1280px){
    main .c_section .contents {
        justify-content: center;
        width: 694px;
    }
    main .c_section .contents > div {
        width: 220px; height: 220px;
    }
    main .c_section .contents > div .name {
        font-size: 1rem;
        line-height: 22px;
    }
    main .c_section .contents > div .genre span,
    main .c_section .contents > div .desc {
        font-size: 0.75rem;
        line-height: 18px;
    }
    main .c_section .contents > div .desc {height: 72px;}
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 15px 15px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 0;}
    main .c_section .contents > div:nth-child(4n) {margin-right: 15px;}
}
@media screen and (max-width:1060px){
    main .main_section .title .tab_contents > div > div .desc {width: 320px;}
}
@media screen and (max-width:834px){
    main .main_section .title h1 {
        left: 30px;
        bottom: 265px;
        font-size: 2.369rem;
    }
    main .main_section .title .tab_contents > div > div {
        background: rgba(0,0,0,0.7) center;
        background-size: cover;
        height: 250px;
        width: 100vw;
        padding: 20px 30px;
        left: 0;
        bottom: 0;
    }
    main .main_section .title .tab_contents > div::after {display: none;}
    main .main_section .title .tab_contents > div > div .sub_title {font-size: 1rem;}
    main .main_section .title .tab_contents > div > div .name {
        font-size: 1.777rem;
        margin: 10px 0 0;
    }
    main .main_section .title .tab_contents > div > div .desc {display: none;}
    main .main_section .swiper_container {
        bottom: 20px; right: 0; left: 50%; transform: translateX(-50%);
        width: 100%;
    }
    main .main_section .swiper_container #main_slide {
        width: calc(100% - 60px);
    }
    main .main_section .swiper_container #main_slide .swiper-wrapper {
        flex-flow: row nowrap;
        height: 130px;
        width: 100%;
    }
    main .main_section .swiper_container #main_slide .swiper-wrapper .swiper-slide {
        margin: 0 7px 0 0;
    }
    main .c_section .contents {
        justify-content: center;
        width: 470px;
    }
    main .c_section .contents > div {
        width: 150px; height: 150px;
        padding: 15px;
    }
    main .c_section .contents > div .name {
        font-size: 1rem;
        line-height: 23px;
    }
    main .c_section .contents > div:hover .genre,
    main .c_section .contents > div .genre {display: none;}
    main .c_section .contents > div .desc {
        line-height: 18px;
        height: 54px;
        -webkit-line-clamp:3;
    }
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 10px 10px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 0;}
    main .c_section .contents > div:nth-child(4n) {margin-right: 10px;}
}
@media screen and (max-width:600px){
    aside {display: none;}
    header {padding: 10px 30px;}
    header h1 {
        width: 70px; height: 39.97px;
    }
    header .lnb .lang {display: none;}
    main .c_section .contents {
        justify-content: center;
        width: 310px;
    }
    main .c_section .contents > div {
        width: 150px; height: 150px;
    }
    main .c_section .contents > div:nth-last-child(1),
    main .c_section .contents > div:nth-last-child(2) {display: none;}
    main .c_section .contents > div {margin: 10px 10px 0 0;}
    main .c_section .contents > div:nth-child(3n) {margin-right: 10px;}
    main .c_section .contents > div:nth-child(2n) {margin-right: 0;}
>>>>>>> 593cafc2cd1a11179bba035584130e8e19059fc2
}