@media screen and (max-width:1440px){
    .tab_contents {
        width: calc(100% - 140px);
    }
    main .tab_title {width: 710px;}
    main .tab_title a {
        margin-right: 5px;
        padding: 10px 15px;
        font-size: 1.333rem;
    }
    main .tab_contents > div {}
    main .tab_contents > div .news_c {
        width: 300px;  height: 100%;
        margin: 20px 20px 0 0;
    }
    main .tab_contents > div .news_c:nth-child(3n) {margin-right: 0;}
    main .tab_contents > div .news_c .title {
        height: 163px;
        padding: 20px 30px;
    }
    main .tab_contents > div .news_c .title .category img {width: 25px; height: 25px;}
    main .tab_contents > div .news_c .title .category span {font-size: 0.75rem;}
    main .tab_contents > div .news_c .title h2 {
        font-size: 1.333rem;
        line-height: 25px;
        margin: 12px 0 17px;
        height: 50px;
    }
    main .tab_contents > div .news_c .title p {font-size: 0.75rem;}
    main .tab_contents > div .news_c .news_img {
        width: 300px; height: 187px;
        background-size: 100% auto;
    }
}
@media screen and (max-width:1160px){
    main .tab_title {
        margin-bottom: 30px;
    }
    main .tab_contents > div .news_c {
        width: 220px;
        margin-right: 20px;
    }
    main .tab_contents > div .news_c:last-child {display: none;}
    main .tab_contents > div .news_c:nth-child(4n) {margin-right: 0;}
    main .tab_contents > div .news_c:nth-child(3n) {margin-right: 20px;}
    main .tab_contents > div .news_c .title {
        height: 160px;
    }
    main .tab_contents > div .news_c .news_img {
        width: 220px; height: 150px;
        background-size: auto 100%;
    }
}
@media screen and (max-width:1088px){
    main .tab_contents > div .news_c {
        margin-right: 20px;
    }
    main .tab_contents > div .news_c:nth-child(3n) {margin-right: 0;}
    main .tab_contents > div .news_c:nth-child(4n) {margin-right: 20px;}
    main .tab_contents > div .news_c:last-child {display: block;}
}
@media screen and (max-width:848px){
    main .tab_contents > div .news_c:nth-child(3n) {margin-right: 20px;}
    main .tab_contents > div .news_c:last-child {display: none;}
}
@media screen and (max-width:834px){
    main > .title > h1 {
        position: absolute;
        display: inline;
        left: 50%;
        bottom: 50px;
        font-size: 2.369rem;
    }
    /* news */
    main .tab_title {
        width: 330px;
        flex-flow: row wrap;
        justify-content: center;
    }
    main .tab_title a {
        margin-right: 7px;
        padding: 7px 10px;
        font-size: 1rem;
    }
    .tab_contents {width: calc(100% - 60px);}
    
    main .tab_contents > div .news_c:last-child {display: block;}
    main .tab_contents > div .news_c:nth-child(3n){margin-right: 0;}
}
@media screen and (max-width:768px){
    main .tab_contents > div .news_c:last-child {display: none;}
    main .tab_contents > div .news_c:nth-child(3n){margin-right: 20px;}
    main .tab_contents > div .news_c:nth-child(2n) {margin-right: 0;}
}
@media screen and (max-width:668px){
}
@media screen and (max-width:550px){
    main .tab_contents > div .news_c {
        width: 160px;
        margin-right: 10px;
    }
    main .tab_contents > div .news_c:nth-child(3n) {margin-right: 10px;}
    main .tab_contents > div .news_c:nth-child(2n) {margin-right: 0;}
    main .tab_contents > div .news_c .title {
        height: 100px;
        padding: 15px 20px;
    }
    main .tab_contents > div .news_c .title .category {display: none;}
    main .tab_contents > div .news_c .title h2 {
        margin: 0 0 18px;
        font-size: 1rem;
        line-height: 20px;
        height: 40px;
    }
    main .tab_contents > div .news_c .news_img {
        width: 160px; height: 100px;
        background-size: 100% auto;
    }
}